@model CatalogPagingFilteringModel.PriceRangeFilterModel
@using Nop.Web.Models.Catalog;
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}
@functions{

    public string FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
    {
        var rangeText = "";
        if (string.IsNullOrWhiteSpace(filterItem.From))
        {
            rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, $"<span class=\"PriceRange\">{filterItem.To}</span>");
        }
        else if (string.IsNullOrWhiteSpace(filterItem.To))
        {
            rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, $"<span class=\"PriceRange\">{filterItem.From}</span>");
        }
        else
        {
            rangeText = $"<span class=\"PriceRange\">{filterItem.From}</span> - <span class=\"PriceRange\">{filterItem.To}</span>";
        }
        return rangeText;
    }
}

@if (Model.Enabled)
{
    <h2>@T("Filtering.PriceRangeFilter")</h2>

    <div class="panel-group category-products" id="accordian-price">
        @if (selectedItem == null)
        {
            foreach (var item in Model.Items)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="@item.FilterUrl">
                            @Html.Raw(FormatPriceRangeText(item))                            
                            <i class="fa fa-angle-right pull-right"></i></a>
                        </h4>
                    </div>
                </div>
            }
        }else
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a href="@Model.RemoveFilterUrl" class="remove-price-range-filter">
                            @Html.Raw(FormatPriceRangeText(selectedItem))  
                            <br/>@T("Filtering.PriceRangeFilter.Remove")<i class="fa fa-times pull-right"></i></a>
                        </h4>
                    </div>
                </div>
                
            }
    </div>
       
}