@model ManufacturerNavigationModel
@if (Model.Manufacturers.Count > 0)
{
    <div class="categories_box bg-white">
        <div class="block block-category-navigation card border-0 mb-3">
            <div class="title card-header br border-0 p-0" role="tab" id="headingOne">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#manufacturers-catagory" aria-expanded="false" aria-controls="collapseOne">
                    <h2 class="text-white text-uppercase font-bold mb-0">
                        @T("Manufacturers") <i class="fa fa-angle-down float-right rotate-icon"></i>
                    </h2>
                </a>
            </div>
            <div id="manufacturers-catagory" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionOne">
                <div class="listbox card-body p-0">
                    <ul class="list font-bold">
                        @foreach (var manufacturer in Model.Manufacturers)
                        {
                            <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name <span class="float-right">240</span></a>
                                
                            </li>
                        }
                        @if (Model.TotalManufacturers > Model.Manufacturers.Count)
                        {
                            <div class="view-all">
                                <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}